@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
  margin: 1%;
  background-color: black;
  font-family: 'Electrolize', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-experience .ant-steps-item-title {
  
  font-family: 'Electrolize', sans-serif;
}

.steps-experience .ant-steps-item-description {
  font-family: 'Electrolize', sans-serif;
}

.steps-education .ant-steps-item-title {
  font-family: 'Electrolize', sans-serif;
}

.steps-education .ant-steps-item-description {
  font-family: 'Electrolize', sans-serif;
}

.ant-card{
  font-family: 'Electrolize', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: #d1d5db;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}