@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {

  background-color: rgb(114, 163, 212);
  font-family: 'Electrolize', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-experience .ant-steps-item-title {
  
  font-family: 'Electrolize', sans-serif;
}

.steps-experience .ant-steps-item-description {
  font-family: 'Electrolize', sans-serif;
}

.steps-education .ant-steps-item-title {
  font-family: 'Electrolize', sans-serif;
}

.steps-education .ant-steps-item-description {
  font-family: 'Electrolize', sans-serif;
}

.ant-card{
  font-family: 'Electrolize', sans-serif;
}

.ant-divider{
  font-family: 'Electrolize', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: #1d61c7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3074eb;
}