.steps-experience .ant-steps-item-title {
    font-family: 'Electrolize', sans-serif;
}

.steps-experience .ant-steps-item-description {
    font-family: 'Electrolize', sans-serif;
}

.steps-education .ant-steps-item-title {
    font-family: 'Electrolize', sans-serif;
}

.steps-education .ant-steps-item-description {
    font-family: 'Electrolize', sans-serif;
}
