@media screen and (max-width: 1100px) {

    .main-div{
        font-size: 15px;
        
    }

    .main{
        width: 800px;
    }

    .technologies{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
  }

  @media screen and (max-width: 850px) {



    .main-div{
        font-size: 15px;
    }

    .main{
        width: 600px;
    }


    
  }

  @media screen and (max-width: 650px) {

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


    .steps-education .ant-steps-item-title{
        font-size: 10px;
    }

    .steps-education .ant-steps-item-description{
        font-size: 10px;
    }

    .steps-experience .ant-steps-item-title{
        font-size: 10px;
    }

    .steps-experience .ant-steps-item-description{
        font-size: 10px;
    }

    .main-div{
        font-size: 10px;
        
    }

    .main{
        
        width: 420px;
    }

    
    .experience-div{
        width: 67%;
    }
    
  }

